<a href="https://colab.research.google.com/github/Richardfcs/Atividade-Python-Aula-2-Richard-F/blob/main/listas_python_jupter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
L = []
L = list()

In [94]:

dias = [3,1,10]
dias[0]

3

In [95]:
dias[1]

1

In [96]:
dias[2]

10

In [97]:
Z = [3,8,9]
Z[0] = 7
Z

[7, 8, 9]

In [98]:
V = [6,7,5,8,9]
L = V
print(V==L)
print(V is L)
V[0]=5
print(V)
print(L)

True
True
[5, 7, 5, 8, 9]
[5, 7, 5, 8, 9]

In [99]:
a = [81,82,83]
b = a[:]
print(a == b)
print(a is b)
b[0] = 5
a[0] = 10
print(a)
print(b)

True
False
[10, 82, 83]
[5, 82, 83]

In [100]:
uma_lista = ['a','b','c','d','e','f']
#             0   1   2   3   4   5
print(uma_lista[1:3]) #ultimo é cortado, sequência fechada
print(uma_lista[:4])
print(uma_lista[3:])
print(uma_lista[:])

['b', 'c']
['a', 'b', 'c', 'd']
['d', 'e', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

In [101]:
a = [1,2,3]
b = a[:]
b[0] = 5
#print(a[3])

In [102]:
minhaLista = [76,92.3,'oi',True, 4, 76]
print(minhaLista)
minhaLista = [76,92.3,'oi',True, 4, 76, 'pitomba', 76]
print(minhaLista)
minhaLista = [76,92.3,'oi','Cibele',True, 4, 76, 'pitomba', 76]
print(minhaLista)
minhaLista = [99, 76,92.3,'oi','Cibele',True, 4, 76, 'pitomba', 76]
print(minhaLista)
print(minhaLista[3])
minhaLista = [99, 76,92.3,'oi','Cibele', 4, 76, 'pitomba', 76]
print(minhaLista)

[76, 92.3, 'oi', True, 4, 76]
[76, 92.3, 'oi', True, 4, 76, 'pitomba', 76]
[76, 92.3, 'oi', 'Cibele', True, 4, 76, 'pitomba', 76]
[99, 76, 92.3, 'oi', 'Cibele', True, 4, 76, 'pitomba', 76]
oi
[99, 76, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

In [103]:
minhaLista = ['pitomba', 76]
minhaLista2 = [76,92.3,'oi',True, 4, 76]
minhaLista3 = minhaLista2 + minhaLista
print(minhaLista3)

[76, 92.3, 'oi', True, 4, 76, 'pitomba', 76]

In [104]:
#A)
minhaLista = [76,92.3,'oi',True, 4, 76]
minhaLista += 'pitomba', 76
print(minhaLista)

#B)
minhaLista[:3] += 'Cibele',
print(minhaLista)

#C)
minhaLista[:0] += 99,
print(minhaLista)

#D)
if (minhaLista[0] == "oi"):
    print('No indice 0')

elif (minhaLista[1] == "oi"):
    print('No indice 1')

elif (minhaLista[2] == "oi"):
    print('No indice 2')

elif (minhaLista[3] == "oi"):
    print('No indice 3')

elif (minhaLista[4] == "oi"):
    print('No indice 4')

elif (minhaLista[5] == "oi"):
    print('No indice 5')

elif (minhaLista[6] == "oi"):
    print('No indice 6')

#E)
print(minhaLista[:5] + minhaLista[6:])

[76, 92.3, 'oi', True, 4, 76, 'pitomba', 76]
[76, 92.3, 'oi', 'Cibele', True, 4, 76, 'pitomba', 76]
[99, 76, 92.3, 'oi', 'Cibele', True, 4, 76, 'pitomba', 76]
No indice 3
[99, 76, 92.3, 'oi', 'Cibele', 4, 76, 'pitomba', 76]

---

In [105]:
tupla_numeros = (10,20,30)
print(tupla_numeros)
tupla_vazia = ()
print(tupla_vazia)

(10, 20, 30)
()

In [106]:
tupla_nomes = ('Marlene', 'Zezinho', 'Marlene', 'Cibele', 'Zuely')
print(tupla_nomes.count('Marlene'))
print(tupla_nomes.count('Suely'))
print(tupla_nomes.count('Zezinho'))

2
0
1

In [107]:
tupla = (1,2,2,3,4,4,4,5)
print(tupla.count(4))

3